[submodule "aivudaappstore/resources/samples/aivuda-app-pkg-example"]
	path = aivudaappstore/resources/samples/aivuda-app-pkg-example
	url = https://gitee.com/aivuda_app_pkgs/aivuda-app-pkg-example.git
