{
  auto_https disable_redirects
}

(file_server) {
  # for app files download
  @files path /aivuda_app_store/files/*

  # regex to extract app name and version for Content-Disposition header
  @file_pkg path_regexp file_pkg ^/aivuda_app_store/files/apps/([^/]+)/([^/]+)/[^/]+$

  handle @files {
    header @file_pkg Content-Disposition "attachment; filename=\"{re.file_pkg.1}-{re.file_pkg.2}.zip\""
    uri strip_prefix /aivuda_app_store/files
    root * ./backend/data/files

    # allow CORS headers for app files download
    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods "GET, OPTIONS"
      Access-Control-Allow-Headers *
    }

    file_server
  }
}

(appstore_api_all) {
  encode zstd gzip
  # for all api and dev frontend
  @allapi path /aivuda_app_store/*

  handle @allapi {
    reverse_proxy 127.0.0.1:9001
  }

  # dev frontend site
  handle {
    root * ./frontend_dev/dist
    try_files {path} /index.html
    file_server
  }
}

(appstore_api_public) {
  # only for public store/ api
  handle /aivuda_app_store/store* {
    encode zstd gzip
    reverse_proxy 127.0.0.1:9001
  }

  # caddy file browser for app files, only for public store test
  handle {
    root * ./backend/data/files/apps
    file_server browse
  }
}

https://{$APPSTORE_PUBLIC_HTTPS_HOST:127.0.0.1}:8580, https://{$APPSTORE_PRIVATE_HTTPS_HOST:127.0.0.1}:8580 {
  # only for public store/ api
  tls internal
  import file_server
  import appstore_api_public
}

https://{$APPSTORE_PUBLIC_HTTPS_HOST:127.0.0.1}:8543, https://{$APPSTORE_PRIVATE_HTTPS_HOST:127.0.0.1}:8543 {
  # for all other api and frontend
  tls internal
  import file_server
  import appstore_api_all
}
