{
  auto_https disable_redirects
}

(appstore_site) {
  encode zstd gzip

  @api path /aivuda_app_store*
  @files path /aivuda_app_store/files/*

  route {
    handle @files {
      uri strip_prefix /aivuda_app_store/files
      root * ./backend/data/files

    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods "GET, OPTIONS"
      Access-Control-Allow-Headers *
    }
    
      file_server
    }

    handle @api {
      reverse_proxy 127.0.0.1:9001
    }

    handle {
      root * ./frontend_dev/dist
      try_files {path} /index.html
      file_server
    }
  }
}

https://{$APPSTORE_PUBLIC_HTTPS_HOST:127.0.0.1}:8580, https://{$APPSTORE_PRIVATE_HTTPS_HOST:127.0.0.1}:8580 {
  # only for public store/ api

  tls internal

  handle /aivuda_app_store/files/* {
    uri strip_prefix /aivuda_app_store/files
    root * ./backend/data/files

    header {
      Access-Control-Allow-Origin *
      Access-Control-Allow-Methods "GET, OPTIONS"
      Access-Control-Allow-Headers *
    }

    file_server
  }

  handle /aivuda_app_store/store* {
    reverse_proxy 127.0.0.1:9001
  }

  handle {
    root * ./backend/data/files/apps
    file_server browse
  }
}

https://{$APPSTORE_PUBLIC_HTTPS_HOST:127.0.0.1}:8543, https://{$APPSTORE_PRIVATE_HTTPS_HOST:127.0.0.1}:8543 {
  tls internal
  import appstore_site
}
